# Compiled class file
*.class

# Log file
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Temp folders
target/
out/

# IntelliJ Idea
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project
